.navbar {
  background: linear-gradient(to right, #666699 0%, #ccccff 100%);
}

.nav {
  color: rgba(0, 0, 0, 0.5);
  padding: 8px;
}

.nav:hover {
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
}

#healthTrackr {
  width: 100%;
  height: auto;
}

#foodSearch {
  width: 100%;
  height: auto;
}

#medication {
  display: block;
  margin: auto;
}
